@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  
  --color-bg: #0F172A;
  --color-surface: #1E293B;
  --color-border: #334155;
  --color-text: #F8FAFC;
  --color-accent: #F59E0B;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

